 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("images/IMG_4368.CR2.jpg");
  background-position: 26.41% 46.5%;
  background-size: 175%;
}

.u-section-1 .u-sheet-1 {
  min-height: 491px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 54px auto 0 13px;
}

.u-section-1 .u-text-2 {
  animation-duration: 1000ms;
  margin: 68px 756px 0 13px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  animation-duration: 1500ms;
  margin: 31px auto 60px 13px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 405px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    transition-duration: 2s;
  }

  .u-section-1 .u-text-2 {
    margin-right: 569px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 310px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 349px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 233px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 169px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 147px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 177px;
}

.u-section-2 .u-text-1 {
  margin: 1px 0;
}.u-section-3 .u-sheet-1 {
  min-height: 336px;
}

.u-section-3 .u-table-1 {
  margin: 6px auto 6px 0;
}

.u-section-3 .u-table-entity-1 {
  min-height: 100px;
}

.u-block-d392-4 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-3 .u-table-1 {
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-4 {
  background-image: linear-gradient(to right, #c94e47, #baa0d8);
}

.u-section-4 .u-sheet-1 {
  min-height: 802px;
}

.u-section-4 .u-text-1 {
  font-size: 6rem;
  background-image: none;
  margin: 296px 110px 60px;
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }
}